
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About Us</title>

	<!-- Enable zoom on mobile device
	====================================	 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Install fonts to your website
	====================================	 -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:300|Source+Sans+Pro:300,400,700" rel="stylesheet"> 

	<!-- Animate css
	====================================	 -->
	<link rel="stylesheet" href="css/animate.min.css">

	<!-- Mean menu
	====================================	 -->
	<link rel="stylesheet" href="css/meanmenu.min.css">

	<!-- venobox
	====================================	 -->
	<link rel="stylesheet" href="js/venobox/venobox.css">

	<!-- Default Owl theme
	====================================	 -->
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Owl carousel
	====================================	 -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">

	<!-- Bootstrap theme
	====================================	 -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- style css
	====================================	 -->
	<link rel="stylesheet" href="style.css">

	<!-- faveicon
	================================ -->
	<link rel="shortcut icon" href="img/icon/favicon.png" type="image/x-icon">
	<style>
	
	
		.brand-logo h3{text-align:left;
		font-size:13px;
		color:#27ae61}
		.prev{
		
		margin-left: 877px;
    margin-top: 5px;
	display: inline-flex;
		
		
	  }
		
		.prev  a{
	  text-decoration: none;
	  display: inline;
	  padding: 3px 12px;
	  
	  
	  
	}
		
	.prev  a:hover {
	  background-color:grey;
	  color: black;
	}
		
	.previous {
	  background-color:#ddd;
	  color: black;
	}
		
	.next {
	  background-color: #4CAF50;
	  color: white;
	}
		
	.round {
	  border-radius: 50%;
	}
		
		</style>
		<style type="text/css">
		
	#date-location { display: inline-block; position: relative; left: 0px; top: 0px;  background-color: #27AE618F;  padding: 0px; z-index: 2; width:100%;height:30px; }
		
	.date-font { color: white; font: 13px arial, sans-serif; font-weight: bold; margin-left:15px;}
		
	</style>
		
		
		<script type="text/javascript">
	// START DATE SCRIPT
		
	var showdate	= "yes"  	// SHOW THE DATE | yes | no |
		
	   if (showdate == "yes") {
	document.write('<div id="date-location">');
	var d=new Date();
	var weekday=new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
	var monthname=new Array('January','February','March','April','May','June','July','August','September','October','November','December');
		
	document.write('<span class="date-font">' + weekday[d.getDay()] + ', ');
		
	document.write(d.getDate() + ' ');
	document.write(monthname[d.getMonth()] + ' ');
		
	document.write(d.getFullYear())
	document.write('<br></span>')
	document.write('</div>');
	}
	</script>
	<script>
	function goForward() {
	  window.history.forward();
	}
	function gobackward(){
	window.history.back();
}
	</script>
</head>
<body class="about-us-page inner-page">

<!-- ========================================
            ==Start Preloader==
======================================== -->
<div class="preloader">
    <div class="preloader-inner-area">
        <div class="loader-overlay">
            <div class="l-preloader">
                <div class="c-preloader"></div>
            </div>
        </div>
    </div>
</div>
<!-- ========================================
        ==Start Preloader==
======================================== -->

<section class="bread-crumb-area">
	<div class="navigation-type2">
		
		<div class="container">
			<div class="navigation-type2-inner-area clearfix">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="brand-logo">
						<a href="index.html">
							<img src="img/icon/logo - Copy.png" alt="main-logo">
						</a>
					</div>
				</div>
				<div class="col-md-10 col-sm-10">
					<div class="navigation-inner-container type2">
						<div class="main-navigation">
						    <section class="prev">
			<a href="#"onclick="gobackward()" class="previous round">&#8249;</a>
			<a href="#"onclick="goForward()"class="next round">&#8250;</a>
			</section>
							<ul>
								<li>
									<a href="index.html">
										home 
									</a>
								</li>
								<li>
									<a href="about-us.html">
										about
									</a>
								</li>
								<li>
									<a href="service.html">
										services
									</a>
								</li>
								<li>
									<a href="contact.html">
										contact  
									</a>
								</li>
                                <li>
									<a href="#"></a>
								</li>
							</ul>
						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="bread-crumb-container">
					<div class="bread-crumb-inner-area">
						<div class="bread-crumb-content">
							<h2>ABOUT US</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ====================================================
				==Start About us content==
==================================================== -->
<!--<div class="container">		
<h1 class="meet_team">MEET OUR TEAM</h1><br><br>
</div>
<div class="row1">
	<div class="column1" class="container">
	  <div class="card1">
		<img src="experts1.jpg" alt="Jane" class="img_me"><br><br>
		
		  <h2><strong>Devesh Rajput</strong> </h2>
		  <br>
		  <h4 class="title1">Team Leader</h4>
		  <p class="title1">Developer</p><br>
		  
		
	  </div>
	</div>


	<div class="column1" class="container">
		<div class="card1">
		  <img src="experts1.jpg" alt="Jane" class="img_me"><br><br>
		  
			<h2><strong>Ashish Kumar</strong> </h2>
			<br>
			<h4 class="title1">Team Member</h4>
			<p class="title1">Full Stack Developer</p><br>
			
		  
		</div>
	</div>
	
	<div class="column1" class="container">
		<div class="card1">
		  <img src="experts1.jpg" alt="Jane" class="img_me"><br><br>
		 
			<h2><strong>Himanshu Kumar</strong> </h2>
			<br>
			<h4 class="title1">Team Member</h4>
			<p class="title1">FrontEnd Developer</p><br>
			
		  
		</div>
	</div>
</div>
<div class="row1">
	<div class="column1" class="container">
		<div class="card1">
		  <img src="experts1.jpg" alt="Jane" class="img_me"><br><br>
		  
			<h2><strong>Ishaan Saar</strong> </h2>
			<br>
			<h4 class="title1">Team Member</h4>
			<p class="title1">BackEnd Developer</p><br>
			
		  
		</div>
	  </div>

	  <div class="column1" class="container">
		<div class="card1">
		  <img src="experts1.jpg" alt="Jane" class="img_me"><br><br>
			<h2><strong>Abhishek Kalra</strong> </h2>
			<br>
			<h4 class="title1">Team Member</h4>
			<p class="title1">FrontEnd Developer</p><br>
			
		
		</div>
	  </div>

	  <div class="column1" class="container">
		<div class="card1">
		  <img src="experts1.jpg" alt="prachi" class="img_me"><br><br>
		  
			<h2><strong>Prachi Gangwar</strong> </h2>
			<br>
			<h4 class="title1">Team Member</h4>
			<p class="title1">BackEnd Developer</p><br>
			
		  
		</div>
	  </div>	
	
	
	
	
	
	
	
	
</div>-->
<section class="web_disigner">
	<div class="web_disigner_contain">
	  <center><h1  style=" display:inline;">Meet Our Team</h1></center>
	  <div class="container">
	  <div class='row'>
		<div class='col-md-12'>
		  <div class="carousel slide media-carousel" id="media">
			<div class="carousel-inner">
			  <div class="item  active">
				<div class="row">
				  <div class="col-md-4 padtop30">
					<center><div class="parent_circle">
					  <div class="parent_circle_contain">
					  <p>Devesh Rajput </p>
					  <p>Developer</p>
					  <a href="https://github.com/andrewflik">Know More...</a>
					</div>
					<div class=" child_round_circle child_round_circle_img1">
					  
					</div>
					</div>
					</center>
				  </div>          
				  <div class="col-md-4 padtop30">
				   <center><div class="parent_circle">
				   <div class="parent_circle_contain">
					  <p>Abhishek Kalra</p>
					  <p>Developer</p>
					  <a href="https://github.com/Abhishek07kalra">Know More...</a>
					</div>
					<div class="child_round_circle child_round_circle_img2  ">
					  
					</div>
					</div>
					</center>
				  </div>
				  <div class="col-md-4 padtop30">
				<center> <div class="parent_circle">
					  <div class="parent_circle_contain">
					  <p>Ashish kumar</p>
					  <p>Designer</p>
					  <a href="https://github.com/zzdish">Know More...</a>
					</div>
					<div class=" child_round_circle child_round_circle_img3 ">
					  
					</div>
					</div>
					</center> 
				  </div>        
				</div>
			  </div>
			  <div class="item">
				<div class="row">
				  <div class="col-md-4 padtop30">
					<center><div class="parent_circle">
					  <div class="parent_circle_contain">
					  <p>Himanshu Kumar</p>
					  <p>Developer</p>
					  <a href="https://github.com/himanshumauri">Know More...</a>
					</div>
					<div class=" child_round_circle child_round_circle_img4 ">
					  
					</div>
					</div>
					</center>
				  </div>              
				  <div class="col-md-4 padtop30">
					<center><div class="parent_circle">
					  <div class="parent_circle_contain">
					  <p>Ishaan Saar</p>
					  <p>Designer</p>
					  <a href="https://github.com/iagrawal23">Know More...</a>
					</div>
					<div class=" child_round_circle child_round_circle_img5">
					  
					</div>
					</div>
					</center>
				  </div>    
				   <div class="col-md-4 padtop30">
					<center><div class="parent_circle">
					  <div class="parent_circle_contain">
					  <p>Prachi Gangwar</p>
					  <p>Developer</p>
					  <a href="https://github.com/Prachi0025">Know More...</a>
					</div>
					<div class=" child_round_circle child_round_circle_img6">
					  
					</div>
					</div>
					</center>
				  </div>            
				</div>
			  </div>
			  
			</div>
			<a data-slide="prev" href="#media" class="left carousel-control">‹</a>
			<a data-slide="next" href="#media" class="right carousel-control">›</a>
		  </div>                          
		</div>
	  </div>
	</div>
	</div>
	</section>

<!--====================================================== 
			==Start our experts==
====================================================== -->   

	<!-- vendor js
	====================================	 -->
	<script src="js/vendor/jquery-1.12.1.min.js"></script>

	<!-- Bootstrap
	====================================	 -->
	<script src="js/bootstrap.min.js"></script>

	<!-- 
	====================================	 -->
	<script src="js/jquery.mixitup.min.js"></script>

	<!-- 
	====================================	 -->
	<script src="js/owl.carousel.min.js"></script>

	<!-- Venobox
	====================================	 -->
	<script src="js/venobox/venobox.min.js"></script>

	<!-- counter up
	====================================	 -->
	<script src="js/jquery.counterup.js"></script>

	<!-- Mean Menu
	====================================	 -->
	<script src="js/jquery.meanmenu.min.js"></script>

	<!-- waypoint
	====================================	 -->
	<script src="js/waypoints.min.js"></script>

	<!-- Contact Map
    =================================    -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- main js
	====================================	 -->
	<script src="js/main.js"></script>
</body>
</html>