<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>

	<!-- Enable zoom on mobile device
	====================================	 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Install fonts to your website
	====================================	 -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:300|Source+Sans+Pro:300,400,700" rel="stylesheet"> 


	<!-- Animate css
	====================================	 -->
	<link rel="stylesheet" href="static/css/animate.min.css">


	<!-- Mean menu
	====================================	 -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">

	<!-- venobox
	====================================	 -->
	<link rel="stylesheet" href="static/js/venobox/venobox.css">

	<!-- Default Owl theme
	====================================	 -->
	<link rel="stylesheet" href="static/css/owl.theme.default.min.css">

	<!-- Owl carousel
	====================================	 -->
	<link rel="stylesheet" href="static/css/owl.carousel.min.css">

	<!-- Bootstrap theme
	====================================	 -->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	
	<!-- style css
	====================================	 -->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- faveicon
	================================ -->
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
    <!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<style>
	
	
		.prev  a{
	  text-decoration: none;
	  display: inline;
	  padding: 3px 12px;
	  
	  
	  
	}
	
	.prev  a:hover {
	  background-color:grey;
	  color: black;
	}
	
	.previous {
	  background-color:#ddd;
	  color: black;
	}
	
	.next {
	  background-color: #4CAF50;
	  color: white;
	}
	
	.round {
	  border-radius: 50%;
	}
		
		</style>
		<style type="text/css">
	
	#date-location { display: inline-block; position: relative; left: 0px; top: 0px;  background-color: #27AE618F;  padding: 0px; z-index: 2; width:100%;height:30px; }
	
	.date-font { color: white; font: 13px arial, sans-serif; font-weight: bold; margin-left:15px;}
	 h4 {
  		font-weight: 500;
  		font-size: 1.25rem;
	}
}
	</style>
		
	<script>
	function goForward() {
	  window.history.forward();

	}
	function gobackward(){
		window.history.back();
	}
	</script>

</head>
<body class="home2 inner-page">
<!-- ========================================
            ==Start Preloader==
======================================== -->
<div class="preloader">
    <div class="preloader-inner-area">
        <div class="loader-overlay">
            <div class="l-preloader">
                <div class="c-preloader"></div>
            </div>
        </div>
    </div>
</div>
<!-- ========================================
        ==Start Preloader==
======================================== -->

<!-- =====================================================
				==Start Banner==
===================================================== -->
<section class="banner-type2">
		

	<div class="container">
		<div class="row">
			<div class="banner-type2-inner-area" >
				<div class="banner-type2-content">
					<div class="banner-type2-inner-content">
					
						<div class="col-md-8 col-md-offset-2">
							<h2>
							<img src="static/logo/tE.png" alt="Logo">
							</h2>
							<p>
								"Separate text from conTEXT and all that remains is a CON"
							</p>
							
							<a href="/text_forensic" class="seo-btn" class="temp-but">
								<button class="btn"><i class="material-icons">search</i></button>
								Text/News Verification
							</a>&nbsp;&nbsp;
                            <a href="/image_forensic" class="seo-btn" class="temp-but">
                            	<button class="btn"><i class="material-icons">image</i></button>
								Image forensic analysis
							</a>&nbsp;&nbsp;
                            <a href="/video_forensic" class="seo-btn" class="temp-but">
                            	<button class="btn"><i class="material-icons">movie</i></button>
								Video/Deep Fake Analysis
							</a>&nbsp;&nbsp;
                            <a href="viral_forensic" class="seo-btn" class="temp-but">
                            	<button class="btn"><i class="material-icons">cloud</i></button>
								Hoax/Comment Analysis
							</a>&nbsp;&nbsp;
                            
						</div>
					</div>
				</div>
			</div>
		</div>

</section>
<!-- =====================================================
				==End Banner==
===================================================== -->

	<!-- vendor js
	====================================	 -->
	<script src="static/js/vendor/jquery-1.12.1.min.js"></script>

	<!-- Bootstrap
	====================================	 -->
	<script src="static/js/bootstrap.min.js"></script>
	
	<!-- 
	====================================	 -->
	<script src="static/js/jquery.mixitup.min.js"></script>

	<!-- 
	====================================	 -->
	<script src="static/js/owl.carousel.min.js"></script>

	<!-- Venobox
	====================================	 -->
	<script src="static/js/venobox/venobox.min.js"></script>

	<!-- counter up
	====================================	 -->
	<script src="static/js/jquery.counterup.js"></script>

	<!-- Mean Menu
	====================================	 -->
	<script src="static/js/jquery.meanmenu.min.js"></script>

	<!-- waypoint
	====================================	 -->
	<script src="static/js/waypoints.min.js"></script>

	<!-- Contact Map
    =================================    -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- main js
	====================================	 -->
	<script src="static/js/main.js"></script>
</body>
</html>