
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Service</title>

	<!-- Enable zoom on mobile device
	====================================	 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Install fonts to your website
	====================================	 -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:300|Source+Sans+Pro:300,400,700" rel="stylesheet"> 

	<!-- Animate css
	====================================	 -->
	<link rel="stylesheet" href="css/animate.min.css">


	<!-- Mean menu
	====================================	 -->
	<link rel="stylesheet" href="css/meanmenu.min.css">

	<!-- venobox
	====================================	 -->
	<link rel="stylesheet" href="js/venobox/venobox.css">

	<!-- Default Owl theme
	====================================	 -->
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Owl carousel
	====================================	 -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">

	<!-- Bootstrap theme
	====================================	 -->
	<link rel="stylesheet" href="css/bootstrap.min.css">

	<!-- style css
	====================================	 -->
	<link rel="stylesheet" href="style.css">

	<!-- faveicon
	================================ -->
	<link rel="shortcut icon" href="img/icon/favicon.png" type="image/x-icon">
	<style>
	
	
		.brand-logo h3{text-align:left;
		font-size:13px;
		color:#27ae61}
		.prev{
		
		margin-left: 877px;
    margin-top: 5px;
	display: inline-flex;
		
		
	  }
		
		.prev  a{
	  text-decoration: none;
	  display: inline;
	  padding: 3px 12px;
	  
	  
	  
	}
		
	.prev  a:hover {
	  background-color:grey;
	  color: black;
	}
		
	.previous {
	  background-color:#ddd;
	  color: black;
	}
		
	.next {
	  background-color: #4CAF50;
	  color: white;
	}
		
	.round {
	  border-radius: 50%;
	}
		
		</style>
		<style type="text/css">
		
	#date-location { display: inline-block; position: relative; left: 0px; top: 0px;  background-color: #27AE618F;  padding: 0px; z-index: 2; width:100%;height:30px; }
		
	.date-font { color: white; font: 13px arial, sans-serif; font-weight: bold; margin-left:15px;}
		
	</style>
		
		
		<script type="text/javascript">
	// START DATE SCRIPT
		
	var showdate	= "yes"  	// SHOW THE DATE | yes | no |
		
	   if (showdate == "yes") {
	document.write('<div id="date-location">');
	var d=new Date();
	var weekday=new Array('Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday');
	var monthname=new Array('January','February','March','April','May','June','July','August','September','October','November','December');
		
	document.write('<span class="date-font">' + weekday[d.getDay()] + ', ');
		
	document.write(d.getDate() + ' ');
	document.write(monthname[d.getMonth()] + ' ');
		
	document.write(d.getFullYear())
	document.write('<br></span>')
	document.write('</div>');
	}
	</script>
	<script>
	function goForward() {
	  window.history.forward();
	}
	function gobackward(){
	window.history.back();
}
	</script>
</head>
<body class="case-studies-page inner-page">

<!-- ========================================
            ==Start Preloader==
======================================== -->
<div class="preloader">
    <div class="preloader-inner-area">
        <div class="loader-overlay">
            <div class="l-preloader">
                <div class="c-preloader"></div>
            </div>
        </div>
    </div>
</div>
<!-- ========================================
        ==Start Preloader==
======================================== -->

<section class="bread-crumb-area">
    <div class="navigation-type2">
		
		<div class="container">
			<div class="navigation-type2-inner-area clearfix">
				<div class="col-md-2 col-sm-2 col-xs-12">
					<div class="brand-logo">
						<a href="index.html">
							<img src="img/icon/logo - Copy.png" alt="main-logo">
						</a>
					</div>
				</div>
				<div class="col-md-10 col-sm-10">
					<div class="navigation-inner-container type2">
						<div class="main-navigation">
						    <section class="prev">
			<a href="#"onclick="gobackward()" class="previous round">&#8249;</a>
			<a href="#"onclick="goForward()"class="next round">&#8250;</a>
			</section>
							<ul>
								<li>
									<a href="index.html">
										home 
									</a>
								</li>
								<li>
									<a href="about-us.html">
										about
									</a>
								</li>
								<li>
									<a href="service.html">
										services
									</a>
								</li>
								<li>
									<a href="contact.html">
										contact  
									</a>
								</li>
                                <li>
									<a href="#"></a>
								</li>
							</ul>
						</div>
                    </div>
				</div>
			</div>
		</div>
	</div>
    <div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="bread-crumb-container">
					<div class="bread-crumb-inner-area">
						<div class="bread-crumb-content">
							<h2>services</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ======================================================
			==Start serices==
====================================================== -->
<section class="service-area">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4">				
				<div class="single-service-container">
					<div class="service-icon">
						<img src="img/service/service-icon2.png" alt="single-service">
					</div>
					<div class="service-text">
						<h3><b>Email Marketing</b></h3>
						<p>
							Ut wisi enim ad minim veniam, quis nostrud exerci tation
							ullamcorper suscipit lobortis nisl ut aliquip ex ea commo
							do consequat.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="single-service-container">
					<div class="service-icon">
						<img src="img/service/service-icon5.png" alt="single-service">
					</div>
					<div class="service-text">
						<h3><b>Management</b></h3>
						<p>
							Ut wisi enim ad minim veniam, quis nostrud exerci tation
							ullamcorper suscipit lobortis nisl ut aliquip ex ea commo
							do consequat.
						</p>
					</div>
				</div>
			</div>
            <div class="col-md-4 col-sm-4">
				<div class="single-service-container">
					<div class="service-icon">
						<img src="img/service/service-icon6.png" alt="single-service">
					</div>
					<div class="service-text">
						<h3><b>Content</b></h3>
						<p>
							Ut wisi enim ad minim veniam, quis nostrud exerci tation
							ullamcorper suscipit lobortis nisl ut aliquip ex ea commo
							do consequat.
						</p>
					</div>
				</div>
			</div>
            
		</div>
	</div>
</section>
<!-- ======================================================
			==End serices==
====================================================== -->

	<!-- vendor js
	====================================	 -->
	<script src="js/vendor/jquery-1.12.1.min.js"></script>

	<!-- Bootstrap
	====================================	 -->
	<script src="js/bootstrap.min.js"></script>

	<!-- 
	====================================	 -->
	<script src="js/jquery.mixitup.min.js"></script>

	<!-- 
	====================================	 -->
	<script src="js/owl.carousel.min.js"></script>

	<!-- Venobox
	====================================	 -->
	<script src="js/venobox/venobox.min.js"></script>

	<!-- counter up
	====================================	 -->
	<script src="js/jquery.counterup.js"></script>

	<!-- Mean Menu
	====================================	 -->
	<script src="js/jquery.meanmenu.min.js"></script>

	<!-- waypoint
	====================================	 -->
	<script src="js/waypoints.min.js"></script>

	<!-- Contact Map
    =================================    -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- main js
	====================================	 -->
	<script src="js/main.js"></script>
</body>
</html>